﻿
@{
    ViewBag.Title = "Sample1";
}

<h2>Sample 1</h2>
<h3><span id="welcome"></span></h3>
<h3>Name : <span id="person_name"></span></h3>
<h3>Age : <span id="person_age"></span></h3>

<script type="text/javascript">
    $(document).ready(function () {
        var param1,param2;
        var options = {
            type: "POST",
            url: 'CheckDetails',
            //data: '{param1:"' + $('#txtname').val() + '",param2:"' + $('#txtage').val() + '"}',
            data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            param2 = response[key];
                            
                        }
                    }
                    //param1 = response.Name;
                    //param2 = response.Age;
                } else {
                    alert("Something went wrong");
                }
                $("#welcome").html(param2);
                //$("#person_name").html(param1);
                //$("#person_age").html(param2);
                setInterval(function () {load()}, 5000);
            }
        };
        $.ajax(options);
    });

    function load() {
        var param1,param2;
        var options = {
            type: "POST",
            url: 'CheckDetails',
            //data: '{param1:"' + $('#txtname').val() + '",param2:"' + $('#txtage').val() + '"}',
            data: '{param1:"Joko",param2:"80"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            param2 = response[key];
                        }
                    }
                    //param1 = response.Name;
                    //param2 = response.Age;
                } else {
                    alert("Something went wrong");
                }
                $("#welcome").html(param2);
                //$("#person_name").html(param1);
                //$("#person_age").html(param2);
                setInterval(function () { load() }, 5000);
            }
        };
        $.ajax(options);
    }
</script>

